{% extends 'products/base.html' %}
{% load static %}


{% block body_block %}
<link rel="stylesheet"  href="{% static "css/login.css" %}" >

<form  method="post">
  {% csrf_token %}

  <div class="login_form">
    <h2> Please Inter your Username and password:</h2>

    <label style="font-size:30px;" for="login_username">Username:</label><br>
    <input id="login_username"name="login_username" type="text"  placeholder="Enter username"><br>
    <label style="font-size:30px;" for="login_password">Password:</label><br>
    <input id="login_password" name="login_password" type="password"  value=""><br>


       <input id="login_button" type="submit" name="" value="Login">



  </div>

</form>

{% endblock %}
